<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnotas13sql">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_notas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_notas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNotas13SQL">
        <activity android:name=".activity.FiltrosActivity"></activity>
        <activity android:name=".activity.NovaNotaActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppNotas13SQL.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>